 .search {
    background-color: rgb(11, 8, 60);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;

 }

 .search p {
    color: rgb(184, 190, 203);
 }

 .search_container {
    display: flex;
    gap: 0.5rem;
 }

 .search_container input,
 .search_container button {
    padding: 0.6rem;
    border-radius: 3px;
    border: none;
    color:mediumblue; 
 
 }

 .search_container button{
    background-color: rgb(99, 91, 203);
    cursor: pointer;
 }